body {
    margin: 0;
    overflow: hidden;
    background-image: url('path_to_background_image.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

canvas {
    display: block;
}

#gameCanvas {
    cursor: none;
}
